env/
.vscode
tag_report.pdf
tags_required.txt
bck/
blend files/
textures
__pycache__
postman/
000-default.conf   
000-default.conf.pdf   
CachedProfilesData
CachedProfilesData/__default__profile__
Cookies
Cookies-journal
DIPS
languagepacks.json
machineid
Network Persistent State
Preferences
TransportSecurity
Trust Tokens
Trust Tokens-journal
Cache
CachedData
Code Cache
Crashpad
DawnGraphiteCache
Dictionaries
DawnWebGPUCache
GPUCache
Local Storage
Session Storage
Shared Dictionary
User
logs
Cache
Dictionaries
DawnWebGPUCache
DawnGraphiteCache
Crashpad
Code Cache
CachedProfilesData/__default__profile__
CachedData
GPUCache
Local Storage
logs
Session Storage
Shared Dictionary
User
Cookies
Cookies-journal
DIPS
languagepacks.json
machineid
Network Persistent State
Preferences
TransportSecurity
Trust Tokens
Trust Tokens-journal
run.sh